[submodule "dwm/dot-dwm"]
	path = dwm/dot-dwm
	url = git@github.com:tetrachromat/dwm.git
[submodule "dmenu/dot-dmenu"]
	path = dmenu/dot-dmenu
	url = git@github.com:tetrachromat/dmenu.git
[submodule "hosts"]
	path = hosts
	url = git@git.sr.ht:~tetrachromat/hosts
[submodule "dwmblocks/dot-dwmblocks"]
	path = dwmblocks/dot-dwmblocks
	url = git@github.com:tetrachromat/dwmblocks.git
[submodule "st/dot-st"]
	path = st/dot-st
	url = git@github.com:tetrachromat/st.git
[submodule "slock/dot-slock"]
	path = slock/dot-slock
	url = git@github.com:tetrachromat/slock.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:tetrachromat/scripts.git
[submodule "zsh-z"]
	path = zsh-z
	url = https://github.com/agkozak/zsh-z.git
