nvim/dot-config/nvim/undodir
!nvim/dot-config/nvim/undodir/.gitkeep
nvim/dot-config/nvim/bundle/*
!nvim/dot-config/nvim/bundle/Vundle.vim
nvim/dot-config/nvim/autoload
nvim/dot-config/nvim/colors
emacs/dot-config/emacs/autosave/
emacs/dot-config/emacs/auto-save-list/
emacs/dot-config/emacs/backups/
emacs/dot-config/emacs/bookmarks
emacs/dot-config/emacs/eln-cache/
emacs/dot-config/emacs/elpa/
emacs/dot-config/emacs/elpaca/
emacs/dot-config/emacs/.org-id-locations
emacs/dot-config/emacs/org-roam.db
emacs/dot-config/emacs/places
emacs/dot-config/emacs/tramp
emacs/dot-config/emacs/tree-sitter/
emacs/dot-config/emacs/.lsp-session-*
emacs/dot-config/emacs/undo/
*.elc
bg/*.jpg
bg/*.png
